@use 'styles/variables' as var;
@use 'styles/mixins' as mix;

.App {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 20px;
}

.tech-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 20px;
}

h2 {
	margin-bottom: 20px;
}
